/* CONTENEDOR PRINCIPAL */
.container {
    max-width: 1440px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/* ENCABEZADO GENERAL CON BOOTSTRAP  */
.navbar-nav {
    padding-left: 2rem;
    font-size: map-get($tamaniodefuente , XXL );
}
.nav-link {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}
.dropdown-item {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($tamaniodefuente, XL );
}
/* Buscador */
.form-control {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($tamaniodefuente, L );
    .form-control:focus {
        border-color: map-get($colores , color3 ); 
        box-shadow: 0 0 0 0.2rem map-get($colores, color1 );
    }
}

/* Estilos para el boton */
.btn {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($tamaniodefuente, L );
    color: map-get($colores, color2 );
    margin: 0;
}
.btn-outline-success {
    border-color: map-get($colores, color1 );
    color: map-get($colores, color2 );
    .btn-outline-success:hover {
        background-color: map-get($colores, color3);
        color: map-get($colores, color1 );
        border-color: map-get($colores, color1 );
    }
    .btn-outline-success:active {
        background-color: map-get($colores, color1 ) !important;
        border-color: map-get($colores, color3) !important;
        color: map-get($colores, color3) !important; 
    }
}
/* LOGO */
.logo {
    width: 150px;;
}
/* FONDO CUERPO HOME - THE BLACKJACK*/
.fondo-cuerpo-home {
    position: relative;
    background-image: url(../assets/img/fondohome.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
}
/* INDEX - HOME */
/* PORTADA */
.portada {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
}
/* CUERPO */
/* ENLACES */
.imagen-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 0;
    div {
        text-align: center;
        margin: 2rem;
        flex: 1 1 220px;
        max-width: 220px;
        a {
            text-decoration: none;
            display: block;
            position: relative;
            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin-bottom: -2rem;
                box-shadow: 5px -5px 20px map-get($colores, color1 );
                border-radius: 8px;
            }
            img:hover {
                filter: drop-shadow(1px -1px 10px map-get($colores, color4));
                box-shadow: none;
            }
            .subtitulo {
                color: map-get($colores, color1 );
                font-family: "Bona Nova SC", serif;
                font-weight: 700;
                font-style: normal;
                font-size: map-get($tamaniodefuente, L );
                margin-top: 0.2rem;
                display: block;
            }
        }
    }
}
/* PRESENTACION */
.presentacion {
    margin-top: 3rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    img {
        width: 90%;
        border-radius: 8px;
    }
}

/* PRODUCTOS DESTACADOS */
/* TITULO */
main section {
    text-align: center;
    h2 {
        color:  map-get($colores, color1 );
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        font-size:  map-get($tamaniodefuente, XXL );
        text-shadow: 8px -5px 15px map-get($colores, color2 );
        margin-top: 2rem;
        margin-bottom: 3rem;
        position: relative;
        display: inline-block;
    }
    h2::after {
        content: "";
        width: 100%;
        height: .1500rem;
        background-color: map-get($colores, color1 );
        position: absolute;
        left: 0;
        bottom: -0.2rem;
    }
}

/* DROPS */
.productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 0.1rem; 
}
.producto-card { 
    text-align: center; 
    width: calc(33.333% - 0.1rem); 
    margin: 0; 
    color: map-get($colores, color4 ); 
    box-sizing: border-box; 
    p { 
        font-family: "Bona Nova SC", serif; 
        font-style: normal; 
        text-align: left; 
        width: 80%; 
        margin-left: 3rem; 
        margin-top: auto; 
        font-size: map-get($tamaniodefuente, XL );
        box-sizing: border-box;
    } 
    h3 {
        text-align: left;
        margin-left: 3rem;
        font-size: map-get($tamaniodefuente, XLL);
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
}
.drop {
    max-width: 100%;
    height: auto;
    max-height: 20rem;
    border-radius: 8px;
}
.drop:hover {
    filter: drop-shadow(5px -5px 20px map-get($colores, color1 ));
}
.estrellas {
    max-width: 100%;
    height: auto;
    max-height: 5rem;
}
.buttoncontainer {
    display: flex;
    justify-content:flex-end;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-right: 5rem;
    gap: 1rem;
}
/* Estilo de botones de WhatsApp */
.whatsapp-button {
    display: inline-block;
    padding: 0.4rem 1rem;
    color: map-get($colores, color4 );
    background-color: map-get($colores, color3 );
    border: .0625rem solid map-get($colores, color1 );
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: map-get($tamaniodefuente, L );
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}
.whatsapp-button:hover {
    background-color: map-get($colores, color1 );
    color: map-get($colores, color3); 
}

/* THE BLACKJACK COLLECTION */
/* CUERPO */
/* DROPS */
section {
    margin-bottom: 2rem;
}
.drop-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 2rem;
}
/* Elementos de producto */
.drop-card {
    background: map-get($colores, color4);
    border: 1px solid map-get($colores, color4);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 6px map-get($colores, color4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-family: "Bona Nova SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XXXL );
        color: map-get($colores , color1 );
        margin-top: 0;
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XL );
        color:map-get($colores, color3 );
        margin-bottom: 3px;
        margin-top: 1rem;
        text-align: left;
    }
    label {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XXL );
        color: map-get($colores, color3 );
        margin-top: 1rem;
        margin-right: 1rem;
        text-align: right;
    }
    select {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: map-get($tamaniodefuente, L );
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 3px;
        border-radius: .625rem;
        border: 1px solid map-get($colores, color3 );
        width: 50%;
    }
}
.price-talles-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .3125rem;
}
.drop-card .price {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: map-get($tamaniodefuente, XXL );
    color: map-get($colores, color3 );
    margin-bottom: 10px;
    margin-left: 1.5rem;
}
.talles-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.boton-uno, .boton-dos {
    display: inline-block;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($tamaniodefuente, XL );
    color: #ffffff;
    background-color: map-get($colores, color3 );
    border: 0.0625rem solid map-get($colores, color1);
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}
.boton-uno:hover, .boton-dos:hover {
    background-color:map-get($colores, color1);
    color: map-get($colores, color3);
}

/* FONDO CUERPO CONTACTO - INFORMACION - P.FRECUENTES */
.fondo-cuerpo-archivos {
    position: relative;
    background-image: url(../assets/img/fondoblanco.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center; 
}
/* INFORMACIÓN / P.FRECUENTES / CONTACTO*/
/* PORTADA*/
.portada-dos {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    h1 {
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XXXXL );
        letter-spacing: 0.2rem;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:map-get($colores, color3 );
    }
}
.portada-dos h1::before,
.portada-dos h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: map-get($colores, color3 );
    position: absolute;
    left: 0;
}
.portada-dos h1::before {
    top: -10px;
}
.portada-dos h1::after {
    bottom: -10px;
}

/* INFORMACIÓN */
/* CUERPO  */
.imagenes-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;
    margin: 2rem 4rem 4rem 4rem;
    gap: 1rem;
    img {
        width: calc(100% - 1rem);
        height: auto;
    }
}

/* PREGUNTAS FRECUENTES */
/* CUERPO */
.informacion {
    padding: 2rem;
    h3 {
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        font-size: map-get($tamaniodefuente , XXXL );
        color: map-get($colores , color1 );
        margin-bottom: 1rem;
        text-align: left;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XL);
        color: map-get($colores , color3);
        margin-bottom: 1rem;
        text-align: left;
    }
}

/* CONTACTO */
/* CUERPO */
fieldset {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 600px;
    border: 2px solid map-get($colores, color1 );
    border-radius: 8px;
    legend {
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        font-size: map-get($tamaniodefuente, XXL);
        margin-bottom: 1rem;
        text-align: center;
    }
    label {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 0.5rem;
    }
    input[type="text"],
    textarea {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid map-get($colores, color1 );
    border-radius: 4px;
    box-sizing: border-box;
    }
    textarea {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        resize: vertical;
    }
    input[type="checkbox"] {
        margin-right: 0.5rem;
    }
    input[type="submit"] {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: map-get($tamaniodefuente , L );
        background-color: map-get($colores , color1);
        color: map-get($colores , color3);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer; 
    }
    input[type="submit"]:hover {
        background-color: map-get($colores , color1);
    }
}
main section p {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: map-get($tamaniodefuente, XL );
}

/* PIE DE PAGINA GENERAL */
footer {
    position: relative;
    color: map-get($colores, color3);
    text-align: center;
    padding: 0;
    margin-top: -2rem;
    z-index: 1;
    background-color: map-get($colores, color4 );
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        max-width: 90rem;
        margin: 0 auto;
        }
    section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/mascara-fondo.png');
        opacity: 0.5;
        z-index: -1;
        }
    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: map-get($tamaniodefuente , XL );
        margin-bottom: 1rem;
        margin-top: 2rem;
        }
    .iconos {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: .5rem;
        a {
            margin-right: 0.2rem;
            img {
                width: 1.8rem;
                height: auto;
                }
            }
        }
    h4 {
        font-family: "Bona Nova SC", serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 2rem;
        font-size: .9375rem;
        }
}

/* CAMBIOS ACORDE A CADA MEDIDA DE PANTALLA */
/* LAPTOP 1024px */
@media (max-width:1024px){

/* CUERPO - Enlaces */
.imagen-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    padding-left: 5rem;
}
.drop {
    max-height: 18rem !important; 
}
.estrellas {
    max-height: 3rem;
}
.producto-card h3 {
    font-size: 1rem;
}
.buttoncontainer {
    margin-right: 2.5rem;
}

/* THE BLACKJACK COLLECTION */
/* CUERPO - Drops */
/* Título de producto */
.drop-card h2 {
    font-size: map-get($tamaniodefuente, XXL );
    }
    /* Imagen del producto */
    .drop-card img {
        max-width: 90%; 
        height: auto;
    }
    /* Texto de producto */
    .drop-card p {
        font-size: map-get($tamaniodefuente, L );
        margin-bottom: 0;
    }
    /* Precio de producto */
    .drop-card .price {
    font-size:  map-get($tamaniodefuente, XL );
    margin-bottom: 0;
    }
}

/* TABLET -*/
@media (max-width: 768px) {
    /* ENCABEZADO GENERAL - BOOTSTRAP */
    .navbar-nav {
        font-size: map-get($tamaniodefuente, L);
        gap: .5rem; 
    }
    .navbar-toggler {
        padding: 0.2rem 0.2rem;
        font-size: map-get($tamaniodefuente, XL);
        color:map-get($colores, color1);
        background-color:map-get($colores, color3);
        border: 2px solid map-get($colores, color4);
        margin-left: 2rem;
    }
    .navbar-toggler-icon {
        background-size: contain;
    }
    .navbar-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    .navbar-nav .nav-link {
        padding: 0 1rem;
    }
    .dropdown-menu {
        padding: 0;
    }
    .dropdown-item {
        font-size: map-get($tamaniodefuente, L );
    }
    .dropdown-divider {
        margin: 0;
    }
    form.d-flex {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        margin-right: .5rem;
    }
    /* Estilos para el boton */
    .btn {
        font-size: map-get($tamaniodefuente, L );
    }
    /* Busqueda */
    .form-control {
        font-size:xx-small;
        width: 150px;
    }
    /* LOGO */
    .logo {
        width: 150px;
    }

    /* HOME- INDEX */
    /* CUERPO - Enlaces */
    .imagen-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0;
        padding-left: 3rem;
    }
    /* Presentacion img */
    .presentacion img {
        width: 90%;
    }
    /* Productos Destacados */
    main section h2 {
        font-size: map-get($tamaniodefuente , L);
        ::after {
            height: .08rem;
        }
    }
    .containerdos {
        max-width: 48rem;
    }
    .drop {
        max-height: 14rem !important;
    }
    .estrellas {
        max-height: 2.5rem;
    }
    .producto-card {
        p {
            width: 80%;
            font-size: map-get($tamaniodefuente , L) !important;
            margin-bottom: 0.5rem !important;
            margin-left: 1.5rem;
        }
        h3 {
            margin-left: 0;
            text-align: left;
            padding-left: 1.5rem;
            font-size: map-get($tamaniodefuente, L) !important;
        }
    }
    /* Estilo de botones de WhatsApp */
    .whatsapp-button {
        font-size: 0.6rem !important;
        padding: 0.5rem 0.5rem;
        margin-top: -2rem;
    }
    .buttoncontainer {
        margin-top: .6rem !important;
        margin-bottom: 3rem;
        margin-right: 2rem;
    }

    /* THE BLACKJACK COLLECTION */
    /* CUERPO - Drops */
    /* Título de producto */
    .drop-card {
        h2 {
            font-size: map-get($tamaniodefuente, L) !important;
            margin-bottom: .5rem;
        }
        p {
        font-size: map-get($tamaniodefuente, XS) !important;
        margin-bottom: 0;
        }
        label {
            font-size: map-get($tamaniodefuente, S) !important;
            margin-right: 0.5rem !important; 
            margin-top: -1rem;
        }
        select {
            font-size: map-get($tamaniodefuente, XS); 
            padding: .125rem; 
            margin-right: 0; 
            margin-top: -1rem; 
        }
        .price {
            font-size: map-get($tamaniodefuente, S) !important;
            text-align: left !important; 
            margin-left: 0 ;
            margin-top: -.5rem;
        }
    }
    .botones {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
    }
    /* Estilo de botones */
    .boton-uno, .boton-dos {
        font-size: map-get($tamaniodefuente, S);
    }

    /* INFORMACION - CONTACTO . PREG FRECUENTES */
    /* Titulo portada */
    .portada-dos h1 {
        font-size: map-get($tamaniodefuente, XL);
    }
    /* PREGUNTAS FRECUENTES */
    /* CUERPO */
    .informacion {
        h3 {
            font-size:  map-get($tamaniodefuente, XL);
            margin-bottom: 0 !important;
        }
        p {
            font-size:  map-get($tamaniodefuente, L);
            margin-bottom: -.5rem !important;
        }
    }
    /* CONTACTO */
    /* CUERPO */
    /* Formulario */
    fieldset {
        padding: 0.5rem;
        width: 60%;
        legend {
            font-size: map-get($tamaniodefuente, L);
        }
        label {
            font-size: map-get($tamaniodefuente, S);
        }
        input[type="text"],
        textarea {
            font-size: map-get($tamaniodefuente, S);
        }
        input[type="submit"] {
            font-size: map-get($tamaniodefuente, XS);
        }
    }
    /* Parrafo del mapa */
    .ubicacion {
        font-size: map-get($tamaniodefuente, L);
        padding-top: .5rem;
        padding-bottom: 2rem;
    }
    /* Fondo cuerpo Index - The Blackjack*/
    .fondo-cuerpo-home {
        background: map-get($colores, color4);
    }
    /* PIE DE PAGINA GENERAL */
    footer {
        section {
            max-width: 48rem;
        }
        p {
        font-size: map-get($tamaniodefuente, S);
        }
        .iconos a img {
        width: 1.5rem;
        }
        h4 {
        font-size: map-get($tamaniodefuente, S);
        }
    }
}
/* PHONE */
@media (max-width: 390px) {
    /* ENCABEZADO CON BOOTSTRAP */
    .navbar-nav {
        font-size: map-get($tamaniodefuente, S);
        gap: 0.2rem;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items:flex-start;
    }
    .navbar-toggler {
        padding: 0.2rem;
        font-size: map-get($tamaniodefuente, XXS);
        color: map-get($colores, color1);
        background-color: map-get($colores, color3);
        border: 1px solid map-get($colores, color4);
        margin-left: .2rem;
    }
    .navbar-collapse {
        width: calc(100% - 2rem);
        display: flex;
        justify-content: space-between;
        margin-left: .7rem;
        overflow: hidden;
        position: relative;
    }

    .navbar-nav .nav-link {
        padding: 0 0.01rem;
        white-space: wrap;
    }
    .form-control {
        font-size: xx-small;
        width: 70px;
        padding: 0.2rem;
        margin-right: 0.1rem;
    }
    form.d-flex {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 3.5rem;
    }
    .search-hidden {
        display: none;
    }
    .btn {
        font-size: map-get($tamaniodefuente, XXS);
        padding: 0.2rem 0.2rem !important;
        height: auto;
        margin: 0px;
    }
    .dropdown-menu {
        font-size: map-get($tamaniodefuente, XS);
        padding: 0.2rem 0;
    }
    .dropdown-item {
        font-size: map-get($tamaniodefuente, XXS);
        padding: 0.2rem 0.3rem;
    }
    .logo {
        width: 80px;
        margin: 1px -3.8rem;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .logo.hidden {
        display: none;
    }
    .navbar-collapse.show + .navbar-brand .logo {
        opacity: 0;
        transform: translateX(100px);
    }
    /* HOME - INDEX */
    /* CUERPO */
    /* Enlaces */
    .imagen-links {
        padding-left: 0;
    }
    .imagen-links .subtitulo {
        font-size:  map-get($tamaniodefuente, XXS) !important;
        margin-top: .5625rem;
        margin-bottom: -2rem;
    }
    .imagen-links div {
        margin: 2rem;
    }
    /* Productos Destacados */
    main section h2 {
        font-size: map-get($tamaniodefuente, S);
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        ::after {
            height: .05rem;
        }
    }
    .productos-destacados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .producto-card {
        width: 80%;
        p {
            font-size: map-get($tamaniodefuente, XS) !important; 
            margin-left: 2rem; 
        }
        h3 {
            text-align: left;
            margin-left: .5rem;
            font-size: map-get($tamaniodefuente, L) !important;
        }
    }
    .whatsapp-button {
        padding: 0.3rem 0.3rem;
        font-size: map-get($tamaniodefuente, XXS) !important;
        margin-top: -1.5rem;
    }
    /* THE BLACKJACK COLLECTION */
    /* CUERPO - Drops */
    section {
        margin-bottom: .8rem;
    }
    .drop-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 0 0.5rem;
    }
    .drop-card {
        padding: .1563rem;
        margin: 0.2rem;
        h2 {
            font-size: map-get($tamaniodefuente, S) !important;
            padding-top: .8rem;   
        }
        img { 
            max-width: 80% !important;  
            padding-top: 0.1rem !important;
            padding-bottom: 0.1rem !important;
        }
        p {
            font-size: map-get($tamaniodefuente, XS) !important;
            padding-left: 1rem; 
            padding-right: 1rem; 
        }
        label {
            font-size: map-get($tamaniodefuente, S) !important;
            margin-right: 1.5rem !important; 
            margin-top: 0.45rem !important; 
        } 
        select {
            font-size: map-get($tamaniodefuente, XXXS);
            padding: 3px;
            margin-top: -1rem;
            margin-right: 0;
            padding: 1px;
            width: 35%;
        }
        .price { 
            font-size: map-get($tamaniodefuente, S) !important;
            margin-top: 0;
            }
        }
        .price-talles-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-top: -1rem;
            font-size: map-get($tamaniodefuente, S) !important;
        }
        .talles-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 1rem;
        }
        .botones {
            padding-top: 1rem;
            padding-bottom: 2.5rem;
        }
        .boton-uno, .boton-dos {
            font-size: map-get($tamaniodefuente, XXXX);
        }
    /* Fondo cuerpo Index - The Blackjack*/
    .fondo-cuerpo-home {
        background: map-get($colores, color3);
    }
    /* INFORMACION - CONTACTO . PREG FRECUENTES */
    /* Titulo portada */
    .portada-dos h1 {
        font-size: map-get($tamaniodefuente, XXS);
    }
    /* INFORMACION */
    /* Ajuste de imagenes */
    .imagenes-horizontal {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        justify-items: center;
        align-items: center;
        margin: 1rem 2rem 2rem 2rem;
        img {
            width: 90%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 1rem;
        }
    }
    /* PREGUNTAS FRECUENTES */
    /* CUERPO */
    .informacion {
        h3 {
            font-size: map-get($tamaniodefuente, L);
            margin-bottom: 0.5rem !important; 
        }
        p {
            font-size: map-get($tamaniodefuente, XS);
        }
    }
    /* CONTACTO */
    /* CUERPO */
    /* Formulario */
    fieldset {
        padding: 0.5rem;
        width: 80%;
        margin: 1rem auto;
        max-width: 300px;
        height: 370px;
        legend {
            font-size: map-get($tamaniodefuente, S);
            margin-top: .5rem; 
            margin-bottom: .5rem; 
            }
        label {
            font-size: map-get($tamaniodefuente, XS);
            margin-bottom: 0;
            }
        input[type="text"],
        textarea {
            font-size: map-get($tamaniodefuente, S);
            padding: 0.25rem; 
            margin-bottom: 0.5rem;
            margin-top: 0;
            }
        input[type="submit"] {
            font-size: map-get($tamaniodefuente, XS);
            }
        }
    /* Mapa */
    section iframe {
            height: 250px;
            width: 250px;
        }
    .ubicacion {
        font-size: map-get($tamaniodefuente, XS);
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
    }
}
/* PHONE */
@media (max-width: 360px) {
    /* ENCABEZADO GENERAL */
    /* Aplicar menu hamburguesa */
    /* LOGO */
    header nav ul li:last-child {
        margin-right: 0.8rem;
    }
    header nav ul li img {
        max-height: 5rem;
    }
    .navbar-nav {
        font-size: map-get($tamaniodefuente, S);
    }
    .form-control { 
        font-size: xx-small; 
        width: 85px; 
        padding: 0.2rem; 
        margin-right: 0.1rem; 
    }
    /*  HOME - INDEX */
    /* CUERPO */
    /* Enlaces */
    .container {
        padding: .5rem;
    }
    .imagen-links img {
        box-shadow: 2px -2px 20px map-get($colores, color1);
    }
    /* Productos Destacados */
    .estrellas {
        max-height: 3rem;
    }
    .producto-card p {
        margin-left: 2rem;
        font-size: map-get($tamaniodefuente, S) !important;
        width: 80%;
    }
    /* PORTADA PREG FRECUENTES - CONTACTO -INFORMACION */
    /* Subrayado de titulo */
    .portada-dos h1::before,
    .portada-dos h1::after {
        height: 1px;
    }
    /* CUERPO - THE BLACKJACK COLLECTION */
    /* Etiqueta de talle */
    .drop-card label {
        font-size: map-get($tamaniodefuente, S);
        margin-right: 1.5rem !important;
        margin-top: 0.45rem !important;
    }
    .drop-card select {
        margin-top: -.9rem;
    }
}