@charset "UTF-8";
/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* UTILITIES */
/* PALETA DE COLORES */
/* TIPOGRAFIAS */
/* TAMAÑO DE FUENTE */
/* CONTENEDOR PRINCIPAL */
.container {
  max-width: 100%;
  padding: 0;
  margin: 0; }

/* COMPONENTS*/
/* ENCABEZADO GENERAL - PANTALLA 1440PX - 1024PX */
/* BOOTSTRAP */
.navbar-nav {
  padding-left: 1rem;
  font-size: 1.2rem; }

.nav-link {
  font-family: "Bona Nova SC", serif;
  font-style: normal;
  font-weight: 700; }

.dropdown-menu-nosotros {
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D, #000000); }
  .dropdown-menu-nosotros :hover {
    filter: drop-shadow(0 0 10px #FFFFFF);
    transform: scale(1.05);
    transition: 300ms;
    text-align: center; }

.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem; }

/* Buscador */
.form-control {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  background: none;
  border: none;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px #050505;
  color: #fff; }

.form-control:focus {
  background: #000000;
  color: #FFFFFF;
  box-shadow: 0 0 0 0.2rem #FFC000; }

/* Estilos para el boton */
.btn {
  font-family: "Bona Nova SC", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #909090be;
  margin: 0;
  border-radius: 9999px;
  background: #000000;
  border: none; }

.btn-outline-success {
  border-color: #FFC000;
  color: #909090be; }

.btn-outline-success:hover {
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D) !important;
  color: #000000;
  border-color: #000000; }

.btn-outline-success:active {
  background-color: #FFC000 !important;
  color: #FFFFFF !important;
  border-color: #000000 !important; }

/* LOGO */
.logo {
  width: 150px; }

/* LAYOUT */
/* HOME - THE BLACKJACKS COLLECTION */
/* PORTADA */
.portada {
  margin: 0 auto;
  position: relative; }
  .portada img {
    display: block;
    width: 100%; }

/* INFORMACIÓN / P.FRECUENTES / CONTACTO*/
/* PORTADA*/
.portada-dos {
  margin: 0 auto;
  position: relative; }
  .portada-dos img {
    display: block;
    width: 100%; }
  .portada-dos h1 {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #FFFFFF; }

.portada-dos h1::before,
.portada-dos h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0; }

.portada-dos h1::before {
  top: -10px; }

.portada-dos h1::after {
  bottom: -10px; }

/* CUERPO */
/* ENLACES */
.imagen-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  flex: none;
  margin-top: 4rem;
  padding: 0; }
  .imagen-links div {
    text-align: center;
    margin: .5rem;
    flex: 1 1 220px;
    max-width: 220px; }
    .imagen-links div a {
      text-decoration: none;
      display: block;
      position: relative; }
      .imagen-links div a img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: -2rem;
        box-shadow: 5px -5px 20px #FFC000;
        border-radius: 8px; }
      .imagen-links div a img:hover {
        transform: scale(1.05);
        filter: drop-shadow(1px -1px 10px #FFFFFF);
        transition: 400ms;
        box-shadow: none; }
      .imagen-links div a .subtitulo {
        color: #FFC000;
        font-family: "Bona Nova SC", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 0.8rem;
        margin-top: 0.2rem;
        display: block; }

/* PRESENTACION */
.presentacion {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto; }
  .presentacion img {
    width: 80%;
    border-radius: 8px; }
    .presentacion img:hover {
      filter: drop-shadow(0 0 10px #FFC000);
      transform: scale(1.05);
      transition: 300ms; }

/* PRODUCTOS DESTACADOS */
/* TITULO */
main section {
  text-align: center; }
  main section h2 {
    position: relative;
    display: inline-block;
    color: #FFC000;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 8px -5px 15px #909090be;
    margin-top: 2rem;
    margin-bottom: 3rem; }
  main section h2::after {
    content: "";
    width: 100%;
    height: .0938rem;
    background-color: #FFC000;
    position: absolute;
    left: 0;
    bottom: -0.2rem; }

/* DROPS */
.productos-destacados {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: none;
  flex: none;
  gap: 0.1rem; }

.producto-card {
  text-align: center;
  width: calc(33.333% - 0.1rem);
  margin: 0;
  color: #FFFFFF;
  box-sizing: border-box; }
  .producto-card p {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    text-align: left;
    width: 80%;
    margin-left: 3rem;
    margin-top: auto;
    font-size: 0.9rem;
    box-sizing: border-box; }
  .producto-card h3 {
    text-align: left;
    margin-left: 3rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600; }

.drop {
  max-width: 100%;
  height: auto;
  max-height: 18rem;
  border-radius: 8px; }

.drop:hover {
  filter: drop-shadow(0 0 10px #FFFFFF);
  transform: scale(1.05);
  transition: 200ms; }

.estrellas {
  max-width: 100%;
  height: auto;
  max-height: 5rem; }

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  margin-right: 2rem;
  gap: 1rem;
  -webkit-animation: heartbeat 1.5s linear infinite reverse both;
  animation: heartbeat 1.5s linear infinite reverse both; }

/* Estilo de botones de WhatsApp */
.whatsapp-button {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: #000000;
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
  border: 0.0625rem solid linear-gradient(#DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
  box-shadow: 1px 2px 0px #FFFFFF;
  border-radius: .5rem;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700; }

.whatsapp-button:hover {
  background-image: linear-gradient(#000000, #909090be);
  color: #FFC000;
  border: 0.0625rem solid #000000;
  box-shadow: 1px 2px 0px #FFC000; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

/* CUERPO */
/* DROPS */
section {
  margin-bottom: 2rem; }

.drop-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  padding: 0 2rem;
  /* Estilo de botones de WhatsApp */ }
  .drop-section .buttoncontainerdos {
    display: flex;
    justify-content: center;
    -webkit-animation: heartbeat 1.5s linear infinite reverse both;
    animation: heartbeat 1.5s linear infinite reverse both; }
  .drop-section .button-comprar {
    display: inline-block;
    padding: 0.4rem 1rem;
    color: #000000;
    background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
    border-image: 0.0625rem solid linear-gradient(#DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
    box-shadow: 1px 2px 0px #FFFFFF;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700; }
  .drop-section .button-comprar:hover {
    background-image: linear-gradient(#000000, #909090be);
    color: #FFC000;
    border: 0.0625rem solid #000000;
    box-shadow: 1px 2px 0px #FFC000;
    cursor: none; }

/* Elementos de producto */
.drop-card {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  flex: none;
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D, #CF9E25, #AE8225, #D6AB47, #FFFDBD, #DEB457, #000000);
  border: 1px solid #FFFFFF;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0px 6px #FFFFFF;
  border-radius: 10px; }
  .drop-card h2 {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    position: relative; }
  .drop-card h2::after {
    content: "";
    width: 100%;
    height: .0938rem;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: -0.2rem; }
  .drop-card img {
    max-width: 100%; }
  .drop-card p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left; }
  .drop-card label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    color: #000000;
    margin-top: -2.5rem;
    margin-right: 0rem;
    text-align: right; }
  .drop-card select {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: -2.5rem;
    margin-right: 0rem;
    margin-left: .5rem;
    padding: 3px;
    border-radius: .625rem;
    border: 1px solid #000000;
    width: 50%; }

.price-talles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .3125rem; }

.drop-card .price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  margin-top: -1.5rem;
  margin-bottom: 10px;
  margin-left: 0; }

.talles-container {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  flex: none; }

.botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem; }

.boton-uno, .boton-dos {
  display: inline-block;
  font-family: "Bona Nova SC", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000000;
  border: 0.0625rem solid #FFC000;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease; }

.boton-uno:hover, .boton-dos:hover {
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
  color: #000000; }

/* FONDO CUERPO HOME - THE BLACKJACK */
.fondo-cuerpo-home {
  position: relative;
  background-image: url(../assets/img/Fondos/fondo.png);
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center; }

.imagenes-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex: none;
  margin: 2rem 4rem 4rem 4rem;
  gap: 1rem; }
  .imagenes-horizontal img {
    width: calc(100% - 1rem);
    height: auto; }

.informacion {
  padding: 2rem; }
  .informacion h3 {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFC000;
    margin-bottom: 1rem;
    text-align: left; }
  .informacion p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 1rem;
    text-align: left; }

fieldset {
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
  max-width: 600px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D); }
  fieldset legend {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;
    color: #FFFFFF; }
  fieldset .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  fieldset .form-row {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: .5rem; }
  fieldset label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: .3rem; }
  fieldset input[type="text"],
  fieldset textarea {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    width: 100%;
    padding: 0.5rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    border: 1px solid #FFC000;
    border-radius: 4px;
    box-sizing: border-box; }
  fieldset textarea {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
    resize: vertical; }
  fieldset input[type="checkbox"] {
    margin-right: 0.5rem;
    margin-top: 1.5rem; }
  fieldset input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    background-image: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
    color: #000000;
    padding: 0.3rem 1rem;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer; }
  fieldset input[type="submit"]:hover {
    color: #FFFFFF;
    background-color: #909090;
    cursor: none; }

main section p {
  font-family: "Bona Nova SC", serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.9rem; }

/* FONDO CUERPO CONTACTO - INFORMACION - P.FRECUENTES */
.fondo-cuerpo-archivos {
  position: relative;
  background-image: url(../assets/img/Fondos/fondoblanco.png);
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center; }

footer {
  position: relative;
  color: #FFC000;
  text-align: center;
  padding: 0;
  margin-top: -2rem;
  z-index: 1;
  background-image: url(../assets/img/Footer/footerimg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover; }
  footer section {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;
    z-index: 1;
    max-width: 90rem;
    margin: 0 auto; }
  footer section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1; }
  footer p {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem; }
    footer p::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #000000;
      z-index: -1; }
  footer .iconos {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: .5rem; }
    footer .iconos a {
      margin-right: 0.2rem; }
      footer .iconos a img {
        width: 4rem;
        height: auto; }
  footer h4 {
    font-family: "Bona Nova SC", serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #FFFFFF; }

/* MEDIA QUERY */
/* LAPTOP*/
@media (max-width: 1024px) {
  /* CUERPO - Enlaces */
  .imagen-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 1rem;
    padding: none;
    padding-left: 1rem;
    padding-right: 1rem; }
    .imagen-links div {
      margin: 1.5rem; }
    .imagen-links a .subtitulo {
      font-size: 0.7rem !important; }
  .drop {
    max-height: 18rem !important;
    margin-bottom: 1rem; }
  .estrellas {
    max-height: 3rem; }
  .producto-card p {
    width: 86.5%;
    margin-left: 2rem; }
  .producto-card h3 {
    font-size: 1rem;
    margin-left: 2rem; }
  .buttoncontainer {
    margin-right: 3rem;
    margin-top: -2.3rem; }
  .whatsapp-button {
    font-size: 0.8rem; }
  /* THE BLACKJACK COLLECTION */
  /* CUERPO - Drops */
  .button-comprar {
    font-size: 0.6rem !important; }
  /* Título de producto */
  .drop-card {
    text-align: center;
    /* Imagen del producto */
    /* Texto de producto */
    /* Precio de producto */ }
    .drop-card h2 {
      font-size: 1rem; }
    .drop-card img {
      max-width: 90%;
      height: auto; }
    .drop-card p {
      font-size: 0.8rem;
      margin-bottom: .5rem; }
    .drop-card .price {
      font-size: 0.8rem;
      margin-bottom: 0; }
    .drop-card label {
      font-size: 0.9rem;
      margin-top: -2rem; }
    .drop-card select {
      margin-top: -2rem;
      padding: 0.5px; } }

/* TABLET -*/
@media (max-width: 768px) {
  /* HOME- INDEX */
  /* ENCABEZADO PANTALLA 768PX*/
  .navbar-nav {
    font-size: 0.9rem !important;
    gap: .5rem; }
    .navbar-nav .nav-link {
      padding: 0 1rem; }
  .navbar-toggler {
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    color: #FFC000;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    margin-left: 1rem; }
  .navbar-toggler-icon {
    background-size: contain; }
  .navbar-collapse {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;
    flex: 1; }
  .dropdown-menu {
    padding: 0;
    margin-left: .5rem !important; }
  .dropdown-item {
    font-size: 0.8rem; }
  .dropdown-divider {
    margin: 0; }
  form.d-flex {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    flex: none;
    margin-left: 2rem;
    margin-right: .5rem; }
  /* Estilos para el boton */
  .btn {
    font-size: 0.7rem; }
  /* Busqueda */
  .form-control {
    font-size: xx-small;
    width: 150px; }
  /* LOGO */
  .logo {
    width: 150px; }
  /* CUERPO - Enlaces */
  .imagen-links {
    gap: 0;
    padding-left: 1rem; }
    .imagen-links .subtitulo {
      font-size: 0.7rem !important;
      margin-top: -2.2rem !important; }
  /* Presentacion img */
  .presentacion img {
    width: 90%; }
  /* Productos Destacados */
  main section h2 {
    font-size: 0.9rem;
    margin-bottom: 1.5rem; }
    main section h2 ::after {
      height: .08rem; }
  .containerdos {
    max-width: 48rem; }
  .drop {
    max-height: 14rem !important; }
  .estrellas {
    max-height: 2.5rem; }
  .producto-card p {
    width: 80%;
    font-size: 0.7rem !important;
    margin-bottom: 0.5rem !important;
    margin-left: 1.5rem; }
  .producto-card h3 {
    margin-left: 0;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 0.75rem !important; }
  /* Estilo de botones de WhatsApp */
  .whatsapp-button {
    font-size: 0.6rem !important;
    padding: 0.5rem 0.5rem;
    margin-top: -2rem; }
  .buttoncontainer {
    margin-top: .6rem !important;
    margin-bottom: 3rem;
    margin-right: 2rem; }
  /* THE BLACKJACK COLLECTION */
  /* CUERPO - DROPS */
  .drop-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    padding: 0 2rem;
    /* Estilo de botones de WhatsApp */ }
    .drop-section .button-comprar {
      padding: 0.4rem 1rem;
      margin-top: -.5rem;
      font-size: 0.5rem !important; }
  /* Título de producto */
  .drop-card h2 {
    font-size: 0.8rem !important;
    margin-bottom: .5rem; }
  .drop-card p {
    font-size: 0.576rem !important;
    margin-bottom: -.3rem; }
  .drop-card label {
    font-size: 0.6rem !important;
    margin-right: -.1rem;
    margin-top: -1rem; }
  .drop-card select {
    font-size: 0.5rem;
    padding: .125rem;
    margin-right: 0;
    margin-top: -1rem; }
  .drop-card .price {
    font-size: 0.625rem !important;
    text-align: left !important;
    margin-left: 0;
    margin-top: -.5rem; }
  .botones {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem; }
  /* Estilo de botones */
  .boton-uno, .boton-dos {
    font-size: 0.6rem; }
  /* INFORMACION - CONTACTO . PREG FRECUENTES */
  /* Titulo portada */
  .portada-dos h1 {
    font-size: 1rem; }
  .imagenes-horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    padding: none;
    margin: 2rem 4rem 4rem 4rem; }
    .imagenes-horizontal img {
      width: calc(100% - 1rem);
      height: auto; }
  /* PREGUNTAS FRECUENTES */
  /* CUERPO */
  .informacion h3 {
    font-size: 0.9rem;
    margin-bottom: 0 !important; }
  .informacion p {
    font-size: 0.75rem;
    margin-bottom: -.5rem !important; }
  /* CONTACTO */
  /* CUERPO */
  /* Formulario */
  fieldset {
    padding: 0.5rem;
    width: 60%; }
    fieldset legend {
      font-size: 0.8rem; }
    fieldset label {
      font-size: 0.75rem; }
    fieldset input[type="text"],
    fieldset textarea {
      font-size: 0.7rem; }
    fieldset input[type="submit"] {
      font-size: 0.625rem; }
  section iframe {
    width: 80%; }
  /* Parrafo del mapa */
  .ubicacion {
    font-size: 0.7rem;
    padding-bottom: 2rem; }
  /* PIE DE PAGINA */
  footer section {
    max-width: 48rem; }
  footer p {
    font-size: 0.75rem; }
  footer .iconos a img {
    width: 1.5rem; }
  footer h4 {
    font-size: 0.75rem; }
  /* FONDO CUERPO - Media 768px-390px-360px*/
  .fondo-cuerpo-home {
    background: #000000; } }

/* PHONE */
@media (max-width: 390px) {
  /* HOME - INDEX */
  /* ENCABEZADO PANTALLA 390PX*/
  .navbar-nav {
    display: flex;
    flex-direction: none;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: flex-start;
    flex: none;
    font-size: 0.875rem !important;
    gap: 0.2rem;
    margin: 0;
    padding: 0; }
  .navbar-toggler {
    padding: 0.2rem;
    font-size: 0.875rem;
    color: #FFC000;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    margin-left: .15rem; }
  .navbar-collapse {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    margin-left: .7rem;
    overflow: hidden;
    position: relative; }
  .navbar-nav .nav-link {
    padding: 0 0.01rem;
    white-space: wrap; }
  .form-control {
    display: none; }
  form.d-flex {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    flex: none;
    margin-left: 0.5rem;
    margin-right: 3.5rem; }
  .search-hidden {
    display: none; }
  .btn {
    display: none; }
  .dropdown-menu {
    font-size: 0.6rem;
    padding: 0.2rem 0;
    margin-left: 0 !important; }
  .dropdown-item {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem; }
  .logo {
    width: 120px;
    margin: 1px -6rem;
    transition: opacity 0.3s ease, transform 0.2s ease; }
  .logo.hidden {
    display: none; }
  .navbar-collapse.show + .navbar-brand .logo {
    opacity: 0;
    transform: translateX(100px); }
  /* CUERPO - Enlaces */
  .imagen-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 1rem;
    padding: none;
    padding-left: 1rem;
    margin-top: -.5rem; }
    .imagen-links div {
      width: 120px; }
      .imagen-links div .subtitulo {
        font-size: 0.7rem !important;
        margin-top: .5625rem;
        margin-bottom: -2rem; }
  /* Productos Destacados */
  main section h2 {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem; }
    main section h2 ::after {
      height: .05rem; }
  .productos-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .producto-card {
    width: 80%; }
    .producto-card p {
      font-size: 0.875rem !important;
      margin-left: 2rem; }
    .producto-card h3 {
      text-align: left;
      margin-left: .5rem;
      font-size: 1rem !important; }
  .whatsapp-button {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem !important;
    margin-top: -2rem; }
  /* THE BLACKJACK COLLECTION */
  /* CUERPO - Drops */
  section {
    margin-bottom: .8rem; }
  .drop-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
    gap: 2rem;
    padding: 1rem 2rem; }
    .drop-section .button-comprar {
      padding: 0.4rem .5rem;
      font-size: 0.7rem !important;
      margin-bottom: 1rem; }
  .drop-card {
    padding: .1563rem;
    margin: 0.2rem; }
    .drop-card h2 {
      font-size: 1.2rem !important;
      padding-top: .8rem; }
    .drop-card img {
      max-width: 80% !important;
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important; }
    .drop-card p {
      font-size: 0.8rem !important;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: .5rem; }
    .drop-card label {
      font-size: 1rem !important;
      margin-right: 3rem !important;
      margin-top: 1rem !important; }
    .drop-card select {
      font-size: 0.6rem;
      padding: 3px;
      margin-top: -1.2rem;
      margin-right: .5rem;
      padding: 0px;
      width: 35%; }
    .drop-card .price {
      font-size: 1rem !important;
      margin-top: .5rem; }
  .price-talles-container {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    width: 100%;
    margin-top: -1rem;
    font-size: 0.6rem !important; }
  .talles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: flex-end;
    flex: none;
    padding-right: 1rem; }
  .botones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding-top: 0rem;
    padding-bottom: 3rem;
    margin-left: 2.5rem; }
  .boton-uno, .boton-dos {
    font-size: 0.576rem;
    margin-bottom: -.5rem; }
  /* INFORMACION - CONTACTO . PREG FRECUENTES */
  /* Titulo portada */
  .portada-dos h1 {
    font-size: 0.8rem;
    margin-top: .5rem; }
  /* INFORMACION */
  /* Ajuste de imagenes */
  .imagenes-horizontal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: none;
    padding: none;
    justify-items: center;
    align-items: center;
    margin: 1rem 2rem 2rem 2rem; }
    .imagenes-horizontal img {
      width: 90%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 1rem; }
  /* PREGUNTAS FRECUENTES */
  /* CUERPO */
  .informacion h3 {
    font-size: 1rem; }
  .informacion p {
    font-size: 0.8rem; }
  /* CONTACTO */
  /* CUERPO */
  /* Formulario */
  fieldset {
    padding: 0.5rem;
    width: 80%;
    margin: 1rem auto;
    max-width: 320px;
    height: 350px; }
    fieldset legend {
      font-size: 0.8rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-left: 4.5rem; }
    fieldset label {
      font-size: 0.7rem;
      margin-bottom: 0; }
    fieldset input[type="checkbox"] {
      margin-right: 0;
      margin-top: 1rem;
      margin-left: .3rem; }
    fieldset input[type="text"],
    fieldset textarea {
      font-size: 0.7rem;
      padding: 0.25rem;
      margin-bottom: 0.5rem;
      margin-top: 0; }
    fieldset input[type="submit"] {
      font-size: 0.7rem; }
  /* Mapa */
  section iframe {
    height: 270px;
    width: 270px; }
  .ubicacion {
    font-size: 0.75rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 2rem; }
  /* PIE DE PAGINA */
  footer section {
    max-width: 24.375rem; }
  footer p {
    font-size: 0.6rem;
    margin-bottom: 0.2rem; }
  footer .iconos a img {
    width: 1.5rem; }
  footer h4 {
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem; } }

/* PHONE */
@media (max-width: 360px) {
  /*  HOME - INDEX */
  /* ENCABEZADO PANTALLA 360PX*/
  .navbar-nav {
    font-size: 0.625rem;
    margin-left: .1rem; }
  .form-control {
    font-size: xx-small;
    width: 85px;
    padding: 0.2rem;
    margin-right: 0.1rem; }
  header nav ul li:last-child {
    margin-right: 0.8rem; }
  header nav ul li img {
    max-height: 5rem; }
  /* CUERPO */
  /* Enlaces */
  .imagen-links {
    padding-left: 0;
    margin-top: .5rem; }
    .imagen-links div {
      width: 120px; }
    .imagen-links img {
      box-shadow: 2px -2px 20px #FFC000; }
  /* Productos Destacados */
  .estrellas {
    max-height: 3rem; }
  .producto-card p {
    margin-left: 2rem;
    font-size: 0.7rem !important;
    width: 80%; }
  /* PORTADA PREG FRECUENTES - CONTACTO -INFORMACION */
  /* Subrayado de titulo */
  .portada-dos h1::before,
  .portada-dos h1::after {
    height: .1px; }
  /* CUERPO - THE BLACKJACK COLLECTION */
  /* Etiqueta de talle */
  .drop-card label {
    font-size: 0.625rem;
    margin-right: 3rem !important;
    margin-top: 1rem !important; }
  .drop-card select {
    margin-top: -1.15rem; }
  /* CONTACTO */
  /* Mapa */
  .ubicacion {
    font-size: 0.625rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 2rem; }
  /* PIE DE PAGINA */
  footer h4 {
    font-size: 0.625rem;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem; } }
