/* FONDO CUERPO HOME - THE BLACKJACK*/
.fondo-cuerpo-home {
    position: relative;
    background-image: url(../assets/img/fondohome.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
}
/* FONDO CUERPO CONTACTO - INFORMACION - P.FRECUENTES */
.fondo-cuerpo-archivos {
    position: relative;
    background-image: url(../assets/img/fondoblanco.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center; 
}



