footer {
    position: relative;
    color: $color-principal;
    text-align: center;
    padding: 0;
    margin-top: -2rem;
    z-index: 1;
    background-image: url(../assets/img/Footer/footerimg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    section {
        @include flex (column,none,center,center,none);
        position: relative;
        z-index: 1;
        max-width: 90rem;
        margin: 0 auto;
        }
    section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
        }
    p {
        color: $color-clear;
        font-family: $font-dos;
        font-style: $font-normal;
        font-weight: 600;
        font-size: map-get($font-size, size13);
        margin-bottom: 1rem;
        margin-top: 2rem;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $color-dark; 
            z-index: -1
            }
        }
    .iconos {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: .5rem;
        a {
            margin-right: 0.2rem;
            img {
                width: 4rem;
                height: auto;
                }
            }
        }
    h4 {
        font-family: $font-uno;
        font-style: $font-normal;
        font-weight: 500;
        margin-top: 2rem;
        font-size: map-get($font-size, size13 );
        margin-bottom: 2rem;
        color: $color-clear;
        }
}