
/* CUERPO */
/* ENLACES */
.imagen-links {
    @include flex (row,wrap,space-evenly,none,none);
    margin-top: 1rem;
    padding: 0;
    div {
        text-align: center;
        margin: 2rem;
        flex: 1 1 220px;
        max-width: 220px;
        a {
            text-decoration: none;
            display: block;
            position: relative;
            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin-bottom: -2rem;
                box-shadow: 5px -5px 20px $color-principal;
                border-radius: 8px;
            }
            img:hover {
                filter: drop-shadow(1px -1px 10px $color-clear);
                box-shadow: none;
            }
            .subtitulo {
                color: $color-principal;
                font-family:$font-uno;
                font-style: $font-normal;
                font-weight: 700;
                font-size: map-get($font-size, size5);
                margin-top: 0.2rem;
                display: block;
            }
        }
    }
}
/* PRESENTACION */
.presentacion {
    margin-top: 3rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    img {
        width: 90%;
        border-radius: 8px;
    }
}
/* PRODUCTOS DESTACADOS */
/* TITULO */
main section {
    text-align: center;
    h2 {
        position: relative;
        display: inline-block;
        color: $color-principal;
        font-family:$font-uno;
        font-style: $font-normal;
        font-weight: 700;
        font-size:  map-get($font-size, size3);
        text-shadow: 8px -5px 15px $color-secundario;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    h2::after {
        content: "";
        width: 100%;
        height: .1500rem;
        background-color: $color-principal;
        position: absolute;
        left: 0;
        bottom: -0.2rem;
    }
}
/* DROPS */
.productos-destacados {
    @include flex (none,wrap,space-between,none,none);
    gap: 0.1rem; 
}
.producto-card { 
    text-align: center; 
    width: calc(33.333% - 0.1rem); 
    margin: 0; 
    color: $color-clear;
    box-sizing: border-box; 
    p { 
        font-family:$font-uno;
        font-style: $font-normal;
        text-align: left; 
        width: 80%; 
        margin-left: 3rem; 
        margin-top: auto; 
        font-size: map-get($font-size, size12);
        box-sizing: border-box;
    } 
    h3 {
        text-align: left;
        margin-left: 3rem;
        font-size: map-get($font-size, size3);
        font-family:$font-dos;
        font-style: $font-normal;
        font-optical-sizing: auto;
        font-weight: 600;
    }
}
.drop {
    max-width: 100%;
    height: auto;
    max-height: 20rem;
    border-radius: 8px;
}
.drop:hover {
    filter: drop-shadow(5px -5px 20px $color-principal);
}
.estrellas {
    max-width: 100%;
    height: auto;
    max-height: 5rem;
}
.buttoncontainer {
    display: flex;
    justify-content:flex-end;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-right: 3rem;
    gap: 1rem;
    -webkit-animation: heartbeat 1.5s linear infinite reverse both;
    animation: heartbeat 1.5s linear infinite reverse both;
}
@-webkit-keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}  
/* Estilo de botones de WhatsApp */
.whatsapp-button {
    display: inline-block;
    padding: 0.4rem 1rem;
    color: $color-clear;
    background-color: $color-dark;
    border: .0625rem solid $color-principal;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: map-get($font-size, size3);
    font-family:$font-uno;
    font-style: $font-normal;
    font-weight: 400;
}
.whatsapp-button:hover {
    background-color: $color-principal;
    color: $color-dark;
}
/* FONDO CUERPO HOME - THE BLACKJACK*/
.fondo-cuerpo-home {
    position: relative;
    background-image: url(../assets/img/fondohome.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
}
/* FONDO CUERPO CONTACTO - INFORMACION - P.FRECUENTES */
.fondo-cuerpo-archivos {
    position: relative;
    background-image: url(../assets/img/fondoblanco.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center; 
}
