/* CUERPO */
/* DROPS */
section {
    margin-bottom: 2rem;
}
.drop-section {
    @include grid (repeat(4, 1fr),repeat(4, auto),1rem,0 2rem);
    .buttoncontainerdos {
        display: flex;
        justify-content:center;
        -webkit-animation: heartbeat 1.5s linear infinite reverse both;
        animation: heartbeat 1.5s linear infinite reverse both;
    }
    /* Estilo de botones de WhatsApp */
    .button-comprar {
        display: inline-block;
        padding: 0.4rem 1rem;
        color: $color-dark;
        background-image: linear-gradient( #000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
        border-image: .0625rem solid linear-gradient(#DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
        box-shadow: 1px 2px 0px $color-clear;
        border-radius: .5rem;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        font-size: map-get($font-size, size4);
        font-family:$font-dos;
        font-style: $font-italic;
        font-weight: 700;
    }
    .button-comprar:hover {
        background-image: linear-gradient($color-dark, $color-secundario);
        color: $color-principal;
        border: .0625rem solid $color-dark;
        box-shadow: 1px 2px 0px $color-principal;
        cursor: none;
    }
}
/* Elementos de producto */
.drop-card {
    @include flex (column,none,space-between,center,none);
    background-image: linear-gradient( #000000, #DEB457, #FFFDBD, #D6AB47, #AE8225,
    #CF9E25, #B48A2D, #CF9E25,#AE8225, #D6AB47, #FFFDBD,#DEB457,#000000);
    border: 1px solid $color-clear;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 6px $color-clear;
    border-radius: 10px;
    h2 {
        font-family:$font-uno;
        font-style: $font-normal;
        font-weight: 400;
        font-size: map-get($font-size, size3);
        color: $color-dark;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }
    h2::after {
        content: "";
        width: 100%;
        height: .0938rem;
        background-color: $color-dark;
        position: absolute;
        left: 0;
        bottom: -0.2rem;
    }
    img {
        max-width: 100%;
    }
    p {
        font-family:$font-dos;
        font-style: $font-normal;
        font-weight: 400;
        font-size: map-get($font-size, size4);
        color: $color-dark;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
    }
    label {
        font-family:$font-dos;
        font-style: $font-normal;
        font-weight: 400;
        font-size: map-get($font-size, size13);
        color: $color-dark;
        margin-top: -2.5rem;
        margin-right: 0rem;
        text-align: right;
    }
    select {
        font-family:$font-dos;
        font-style: $font-normal;
        font-weight: 600;
        font-size: map-get($font-size, size5);
        margin-top: -2.5rem;
        margin-right: 0rem;
        margin-left: .5rem;
        padding: 3px;
        border-radius: .625rem;
        border: 1px solid $color-dark;
        width: 50%;
    }
}
.price-talles-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .3125rem;
}
.drop-card .price {
    font-family:$font-dos;
    font-style: $font-normal;
    font-weight: 600;
    font-size: map-get($font-size, size3);
    color: $color-dark;
    margin-top: -1.5rem;
    margin-bottom: 10px;
    margin-left: 0;
}
.talles-container {
    @include flex (none,none,center,center,none);
}
.botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.boton-uno, .boton-dos {
    display: inline-block;
    font-family:$font-uno;
    font-style: $font-normal;
    font-weight: 400;
    font-size: map-get($font-size, size4);
    color: #ffffff;
    background-color: $color-dark;
    border: 0.0625rem solid $color-principal;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}
.boton-uno:hover, .boton-dos:hover {
    background-image: linear-gradient( #000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
    color: $color-dark;
}
/* FONDO CUERPO HOME - THE BLACKJACK*/
.fondo-cuerpo-home {
    position: relative;
    background-image: url(../assets/img/fondohome.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
}