fieldset {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 600px;
    border: 2px solid $color-dark;
    border-radius: 8px;
    background-image: linear-gradient( #000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);
    
    legend {
        font-family:$font-uno;
        font-style: $font-normal;
        font-weight: 700;
        font-size: map-get($font-size, size3);
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: left;
        color: $color-clear;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-top: .5rem;
    }

    label {
        display: block;
        font-family:$font-dos;
        font-style: $font-italic;
        font-optical-sizing: auto;
        font-weight: 700;
        margin-bottom: 0;
        margin-left: .3rem;
    }
    
    input[type="text"], textarea {
        @include form-input($font-dos, $font-normal, 400, $color-principal);
        letter-spacing: -1px;
        margin-bottom: 1rem;
    }

    textarea {
    @include form-input($font-dos, $font-normal, 300, $color-principal);
    resize: vertical;
    }

    input[type="checkbox"] {
        margin-right: 0.5rem;
        margin-top: 1.5rem;
    }
    
    input[type="submit"] {
        @include form-input($font-dos, $font-normal, 500, #000000);
        background-image: $gradient-background;
        font-size: map-get($font-size, size5);
        padding: 0.5rem 1rem;  
        width: auto; 
        display: inline-block;
        border: 1px solid #000000;
        border-radius: 5px; 
        cursor: pointer;
    }

    input[type="submit"]:hover {
        color: $color-clear;
        background-color: #909090;
        cursor: none;
        }
    }

main section p {
    font-family:$font-uno;
    font-style: $font-normal;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: map-get($font-size, size12);
}

/* FONDO CUERPO CONTACTO - INFORMACION - P.FRECUENTES */
.fondo-cuerpo-archivos {
    position: relative;
    background-image: url(../assets/img/Fondos/fondoblanco.png);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center; 
}
