/* HOME - THE BLACKJACKS COLLECTION */
/* PORTADA */
.portada {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
}
/* INFORMACIÓN / P.FRECUENTES / CONTACTO*/
/* PORTADA*/
.portada-dos {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    h1 {
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color:$color-clear;
    }
}
.portada-dos h1::before,
.portada-dos h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color:$color-dark;
    position: absolute;
    left: 0;
}
.portada-dos h1::before {
    top: -10px;
}
.portada-dos h1::after {
    bottom: -10px;
}