
$colores: (
    color1: #FFC000,
    color2:  #909090be,
    color3: #000000,
    color4: #FFFFFF,
);
$tipografias: (
);
$tamaniodefuente: (
    XXXXL: 2rem,
    XXXL: 1.5rem,
    XXL: 1.2rem,
    XL: 1rem, 
    L: 0.8rem,
    S: .625rem,
    XS: .5625rem,
    XXS: .5rem,
    XXXSS: .45rem,
    XXXX: .3rem,
);
