/* PALETA DE COLORES */
$color-principal: #FFC000;
$color-secundario: #909090be;
$color-dark: #000000;
$color-clear: #FFFFFF;

/* TIPOGRAFIAS */
$font-uno: "Bona Nova SC", serif;
$font-dos: "Montserrat", sans-serif;
$font-normal: normal;
$font-italic: italic;

/* TAMAÑO DE FUENTE */
$font-size: (
    size1: 2rem,
    size2: 1.5rem,
    size14: 1.3rem,
    size3: 1.2rem,
    size13: 1.1rem,
    size4: 1rem,
    size12: .9rem,
    size15: .875rem,
    size5: .8rem,
    size16: .75rem,
    size20: .73,
    size6: .7rem,
    size17: .6rem,
    size7: .625rem,
    size18: .576rem,
    size8: .5625rem,
    size9: .5rem,
    size10: .45rem,
    size19: .43rem,
    size11: .3rem,
);

$max-height-portada: 600px;

$gradient-background: linear-gradient(#000000, #DEB457, #FFFDBD, #D6AB47, #AE8225, #CF9E25, #B48A2D);