/* PALETA DE COLORES */
$color-principal: #FFC000;
$color-secundario: #909090be;
$color-dark: #000000;
$color-clear: #FFFFFF;

/* TIPOGRAFIAS */
$font-family: "Bona Nova SC", serif;
$font-family: "Montserrat", sans-serif;
$font-style: normal;
$font-style: italic;

