

/* LAPTOP*/
@media (max-width:1024px){
/* CUERPO - Enlaces */
.imagen-links {
    @include grid (repeat(2, 1fr),repeat(2, auto),1rem,none);
    padding-left: 5rem;
}
.drop {
    max-height: 18rem !important; 
}
.estrellas {
    max-height: 3rem;
}
.producto-card h3 {
    font-size: map-get($font-size, size4);
}
.buttoncontainer {
    margin-right: 2.5rem;
}

/* THE BLACKJACK COLLECTION */
/* CUERPO - Drops */
/* Título de producto */
.drop-card h2 {
    font-size: map-get($font-size, size3);
    }
    /* Imagen del producto */
    .drop-card img {
        max-width: 90%; 
        height: auto;
    }
    /* Texto de producto */
    .drop-card p {
        font-size: map-get($font-size, size5);
        margin-bottom: 0;
    }
    /* Precio de producto */
    .drop-card .price {
    font-size: map-get($font-size, size4);
    margin-bottom: 0;
    }
}