/* TABLET -*/
@media (max-width: 768px) {
    /* HOME- INDEX */
    /* CUERPO - Enlaces */
    .imagen-links {
        gap: 0;
        padding-left: 3rem;
    }
    /* Presentacion img */
    .presentacion img {
        width: 90%;
    }
    /* Productos Destacados */
    main section h2 {
        font-size: map-get($font-size, size12);
        ::after {
            height: .08rem;
        }
    }
    .containerdos {
        max-width: 48rem;
    }
    .drop {
        max-height: 14rem !important;
    }
    .estrellas {
        max-height: 2.5rem;
    }
    .producto-card {
        p {
            width: 80%;
            font-size: map-get($font-size, size6) !important;
            margin-bottom: 0.5rem !important;
            margin-left: 1.5rem;
        }
        h3 {
            margin-left: 0;
            text-align: left;
            padding-left: 1.5rem;
            font-size: map-get($font-size, size16) !important;
        }
    }
    /* Estilo de botones de WhatsApp */
    .whatsapp-button {
        font-size: map-get($font-size, size17) !important;
        padding: 0.5rem 0.5rem;
        margin-top: -2rem;
    }
    .buttoncontainer {
        margin-top: .6rem !important;
        margin-bottom: 3rem;
        margin-right: 2rem;
    }

    /* THE BLACKJACK COLLECTION */
    /* CUERPO - Drops */
    /* Título de producto */
    .drop-card {
        h2 {
            font-size: map-get($font-size, size5) !important;
            margin-bottom: .5rem;
        }
        p {
        font-size: map-get($font-size, size18)!important;
        margin-bottom: 0;
        }
        label {
            font-size: map-get($font-size, size17) !important;
            margin-right: 0.5rem !important; 
            margin-top: -1rem;
        }
        select {
            font-size:map-get($font-size, size9);
            padding: .125rem; 
            margin-right: 0; 
            margin-top: -1rem; 
        }
        .price {
            font-size: map-get($font-size, size7) !important;
            text-align: left !important; 
            margin-left: 0 ;
            margin-top: -.5rem;
        }
    }
    .botones {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
    }
    /* Estilo de botones */
    .boton-uno, .boton-dos {
        font-size:map-get($font-size, size17);
    }

    /* INFORMACION - CONTACTO . PREG FRECUENTES */
    /* Titulo portada */
    .portada-dos h1 {
        font-size: map-get($font-size, size4);
    }
    /* PREGUNTAS FRECUENTES */
    /* CUERPO */
    .informacion {
        h3 {
            font-size: map-get($font-size, size12);
            margin-bottom: 0 !important;
        }
        p {
            font-size: map-get($font-size, size16);
            margin-bottom: -.5rem !important;
        }
    }
    /* CONTACTO */
    /* CUERPO */
    /* Formulario */
    fieldset {
        padding: 0.5rem;
        width: 60%;
        legend {
            font-size: map-get($font-size, size5);
        }
        label {
            font-size: map-get($font-size, size16);
        }
        input[type="text"],
        textarea {
            font-size: map-get($font-size, size6);
        }
        input[type="submit"] {
            font-size: map-get($font-size, size7);
        }
    }
    /* Parrafo del mapa */
    .ubicacion {
        font-size: map-get($font-size, size6);
        padding-bottom: 2rem;
    }
    /* PIE DE PAGINA GENERAL */
    footer {
        section {
            max-width: 48rem;
        }
        p {
        font-size: map-get($font-size, size16);
        }
        .iconos a img {
        width: 1.5rem;
        }
        h4 {
        font-size: map-get($font-size, size16);
        }
    }
}