 /* PHONE */
@media (max-width: 360px) {
    /*  HOME - INDEX */
    /* ENCABEZADO PANTALLA 360PX*/
.navbar-nav {
    font-size: map-get($font-size, size7);
    margin-left: .1rem;
}
.form-control { 
    font-size: xx-small; 
    width: 85px; 
    padding: 0.2rem; 
    margin-right: 0.1rem; 
}
header nav ul li:last-child {
    margin-right: 0.8rem;
}
header nav ul li img {
    max-height: 5rem;
}
    /* CUERPO */
    /* Enlaces */
    .imagen-links {
        padding-left: 0;
        margin-top: .5rem;
        div {
            width: 120px;
        }
        img {
        box-shadow: 2px -2px 20px $color-principal;
        }
    }
    /* Productos Destacados */
    .estrellas {
        max-height: 3rem;
    }
    .producto-card p {
        margin-left: 2rem;
        font-size: map-get($font-size, size6) !important;
        width: 80%;
    }
    /* PORTADA PREG FRECUENTES - CONTACTO -INFORMACION */
    /* Subrayado de titulo */
    .portada-dos h1::before,
    .portada-dos h1::after {
        height: .1px;
    }
    /* CUERPO - THE BLACKJACK COLLECTION */
    /* Etiqueta de talle */
    .drop-card label {
        font-size: map-get($font-size, size7);
        margin-right: 3rem !important;
        margin-top: 1rem !important;
    }
    .drop-card select {
        margin-top: -1.15rem;
    }
    /* CONTACTO */
    /* Mapa */
    .ubicacion {
        font-size: map-get($font-size, size7);
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-bottom: 2rem;
        }
    /* PIE DE PAGINA */
    footer {
        background-image: url(../assets/img/Footer/footer360.png);
        h4 {
        font-size: map-get($font-size, size7);
        margin-top: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
        }
    }
}