/* LAPTOP*/
@media (max-width:1024px){
/* CUERPO - Enlaces */
.imagen-links {
    @include grid (repeat(4, 1fr),none,1rem,none);
    padding-left: 1rem;
    padding-right: 1rem;
    div {
        margin: 1.5rem;
    }
    a {
        .subtitulo {
            font-size: map-get($font-size, size6) !important;
        }
    }
}
.drop {
    max-height: 18rem !important; 
    margin-bottom: 1rem;
    }
.estrellas {
    max-height: 3rem;
    }
.producto-card {
    p { 
        width: 86.5%; 
        margin-left: 2rem; 
    } 
    h3 {
    font-size: map-get($font-size, size4);
    margin-left: 2rem;
    }
}
.buttoncontainer {
    margin-right: 3rem;
    margin-top: -2.3rem;
    }
.whatsapp-button {
    font-size: map-get($font-size, size5);
}
/* THE BLACKJACK COLLECTION */
/* CUERPO - Drops */
.button-comprar {
    font-size: map-get($font-size, size17) !important;
}
/* Título de producto */
.drop-card {
    text-align: center;
    h2 {
    font-size: map-get($font-size, size4);
    }
    /* Imagen del producto */
    img {
        max-width: 90%; 
        height: auto;
    }
    /* Texto de producto */
    p {
        font-size: map-get($font-size, size5);
        margin-bottom: .5rem;
    }
    /* Precio de producto */
    .price {
    font-size: map-get($font-size, size5);
    margin-bottom: 0;
    }
    label {
        font-size: map-get($font-size, size12);
        margin-top: -2rem;
    }
    select {
        margin-top: -2rem;
        padding: 0.5px;
    }
}
}