/* PHONE */
@media (max-width: 360px) {
    /*  HOME - INDEX */
    /* CUERPO */
    /* Enlaces */
    .container {
        padding: .5rem;
    }
    .imagen-links img {
        box-shadow: 2px -2px 20px map-get($colores, color1);
    }
    /* Productos Destacados */
    .estrellas {
        max-height: 3rem;
    }
    .producto-card p {
        margin-left: 2rem;
        font-size: map-get($tamaniodefuente, S) !important;
        width: 80%;
    }
    /* PORTADA PREG FRECUENTES - CONTACTO -INFORMACION */
    /* Subrayado de titulo */
    .portada-dos h1::before,
    .portada-dos h1::after {
        height: 1px;
    }
    /* CUERPO - THE BLACKJACK COLLECTION */
    /* Etiqueta de talle */
    .drop-card label {
        font-size: map-get($tamaniodefuente, S);
        margin-right: 1.5rem !important;
        margin-top: 0.45rem !important;
    }
    .drop-card select {
        margin-top: -.9rem;
    }
}
